$font: 'Helvetica Neue';

$primary: #234769;
$primary-highlight: #a6c1db;

$secondary: #53dfbd; /* not yet used */
$secondary-highlight: #ace7d9; /* not yet used */

$placeholder: #bec9c7;

body {
  font-family: $font;
}

