<!DOCTYPE html>
<html>
<head>
  <title>DCTV</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!--<header>
    <div id="nav-bar">
      <h1> DCTV </h1>
      <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Archive </a></li>
        <li><a href="#"> About </a></li>
      </ul>
    </div>
  </header>-->


<%= yield %>

</body>
</html>
